.header{
    color:#ffffff;
}
.logo-img{
  width:170px;
}
.nav-derecho{
  display: flex;
  flex-direction: row-reverse;
}
.nav-item{
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-expand-lg {
  background-color: #023373;
  color:#ffffff;
}
a{
    color:#ffffff;
}
a:hover{
    color:#aaa;
}

.icons-nav{
  width: 50px;
  padding: 0 5px;
}

.form-control {
  background-color: #aaa;
  color:#ffffff;
}


