<header>
    <nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
    <div class="container-fluid mx-4">

      <a class="navbar-brand" href="#"><img src="/assets/img/Blue Mount Town Logo Design 1.png" class="logo-img" alt="Logo FriendCity"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse nav-derecho" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-calendar-days"></i> Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-list"></i> Lista de Amigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-circle-plus"></i> Crear evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
