#navbar {
  background-color: #023373;
}

.logo-img{
  width:270px;
  margin-left: -12px;
  margin-top: -1rem;
  margin-bottom: -0.9rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-right: 3rem;
  }

  
    


