
footer{
    justify-content: center;
    background-color: #023373;
    color: #ffffff;
    height: 152px;
    width: 100%;
    text-align: center;
    display: table;

    
    
 
  }
  
  footer > p,
  footer > div {
      display:table-cell;
      vertical-align:middle;
      padding:20px;
  }
  h6{
      font-size: 32px;
  }
  .footer-heading {
      letter-spacing: 2px;
  }
  
  .footer-heading {
      position: relative;
      padding-bottom: 12px;
  }
  .fa-creative-commons{
      margin-right: 10px;
  }





