
  <footer class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><a routerLink="/contact" title="Contacto">Contacto</a></h6>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><a href="https://creativecommons.org/" target="_blank" title="Creative Commons WebSite"><i class="fa-brands fa-creative-commons"></i>Creative Commons</a></h6>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><a href="#" title="FRIENDCITY">FRIENDCITY</a></h6>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><a routerLink="/equipo" title="Sobre el Equipo">Sobre el Equipo</a></h6>
                    
                    </div>
                </div>
            </div>

        </div>
</footer>
