<!-- <footer class="footer">
    <div class="container bottom_border">
      <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Contacto</h5>
        </div>
  
        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2"><i class="fa-brands fa-creative-commons"></i>Creative Commons</h5>
        </div>
  
        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">FRIENDCITY</h5>
        </div>
  
        <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Sobre el Equipo</h5>
        </div>
      </div>
    </div>
  </footer> -->
  <footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Contacto</h6>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><i class="fa-brands fa-creative-commons"></i>Creative Commons</h6>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">FRIENDCITY</h6>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Sobre el Equipo</h6>
                    
                    </div>
                </div>
            </div>

        </div>
</footer>
