
  <footer class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><a routerLink="/contact">Contacto</a></h6>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"><i class="fa-brands fa-creative-commons"></i>Creative Commons</h6>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">FRIENDCITY</h6>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white"> <a routerLink="/equipo">Sobre el Equipo</a></h6>
                    
                    </div>
                </div>
            </div>

        </div>
</footer>
