
footer{
  justify-content: center;
  background-color: #023373;
  color: #ffffff;
  height: 152px;
  width: 100%;
  text-align: center;
  position: relative;
  display: table;
  bottom: 0;
}

footer > p,
footer > div {
    display:table-cell;
    vertical-align:middle;
    padding:20px;
}

h5{
    font-size: 32px;
}

.fa-creative-commons{
    margin-right: 10px;
}





