<app-header></app-header>
<div class="container cuerpo  text-center">
    <div class="row">
        <!-- primera columna -->
        <div class="col-6 col-sm-2 columna">
            <img src={{event.image}} alt="Cine" class="pelicula-img"/>
            <br>
            <br>
            <br>
            <p class="location">LOCALIZACIÓN: <a class="text-decoration-underline direction">{{event.location}}</a></p>

            
        </div>
        <!-- segunda columna -->
        <div class="col-6 col-sm-2 columna">
            <h2 class="titulo-event fw-bolder">{{event.name}}</h2>
            <br>
            <br>
            <p class="text-start">{{event.description}}</p>
            <br>
            <br>
            <!-- la fecha, hora y precio -->
            <div class="container text-start fs-6 fw-bold">
                <div class="row">
                    <!-- Fecha -->
                    <div class="col">
                        <p>FECHA: {{event.event_date}}</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- Hora -->
                    <div class="col">
                        <p>HORA: {{event.hour}}</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- Precio -->
                    <div class="col">
                        <p> PRESUPUESTO: {{event.budget}} €</p>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <!-- lista de asistentes -->
            <div class="dropdown text-lg-start">
                <button class="btn btn-lg btn-asist dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Asistentes
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Action two</a></li>
                  <li><a class="dropdown-item" href="#">Action three</a></li>
                </ul>
            </div>
            <br>
                    <br>
                    <br>
            <!-- Chequeo -->
            <h3 class="text-start">Tareas:</h3>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Introduzca tarea" aria-label="Introduzca tarea" aria-describedby="button-addon2" [(ngModel)]="newTodo">
              <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2" style="color: white" (click)="saveTodo()">Añadir</button>
            </div>
            <div class="container text-start fs-6 fw-bold list-asist">
                <div class="row">
                  <div class="col-md-6" *ngFor="let todo of todos;let i=index;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label {{(!todo.isCompleted)? 'done' : ''}}" (click)="done(i)" for="flexCheckDefault" >
                          {{todo.name}}
                        </label>
                        <span style="color:red;font-weight: bold;" (click)="remove(i)">X</span>
                    </div>                  
                  </div>
                </div>
            </div>
    </div>
</div>
