<div class="container  text-center">
    <div class="row">
        <!-- primera columna -->
        <div class="col-6 col-sm-2 columna">
            <img src="/assets/img/pelicula-en-casa.png" alt="Cine" class="pelicula-img"/>
            <a class="text-decoration-underline direction">Avenida Madrid 6, 9ºDcha. Madrid. 28080</a>
        </div>
        <!-- segunda columna -->
        <div class="col-6 col-sm-2 columna">
            <h2 class="titulo-event fw-bolder">Pelicula y Cena en mi casa</h2>
            <p class="text-start">Cena y Peli en mi casa chicos!  ¿Que os parece si este Sabado a las 21.00 quedamos en mi casa y cenamos unas pizzas y vemos una pelicula? Tenia ganas de ver la nueva de Doctor Strange y si a alguno le apetece, tengo cuenta de Disne Plus, asi que cenamos y la vemos!!</p>
            <!-- la fecha, hora y precio -->
            <div class="container text-start fs-6 fw-bold">
                <div class="row">
                    <!-- Fecha -->
                    <div class="col">
                        <p>09/07/2022</p>
                    </div>
                    <!-- Hora -->
                    <div class="col">
                        <p>21.00</p>
                    </div>
                    <!-- Precio -->
                    <div class="col">
                        <p> 20€ pax</p>
                    </div>
                </div>
            </div>
            <!-- lista de asistentes -->
            <div class="dropdown text-lg-start">
                <button class="btn btn-lg btn-asist dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Asistentes
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Action two</a></li>
                  <li><a class="dropdown-item" href="#">Action three</a></li>
                </ul>
            </div>
            <!-- Chequeo -->
            <h3 class="text-start">Tareas:</h3>
            <div class="container text-start fs-6 fw-bold list-asist">
                <div class="row">
                  <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Vasos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Palomitas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Hielo
                        </label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Refrescos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Pizzas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Pajitas
                        </label>
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>
