header{
  color:#ffffff;
  height: 152px;
}
.logo-img{
width:351px;
height: 100%;
margin-left: -36px;
}
.nav-item{
padding: 0 10px;
display: flex;
align-items: center;
}

.navbar-expand-lg {
background-color: #ffffff;
color:#023373;
max-height: 177px;
}

.form-control {
background-color: rgb(253, 253, 253);


  border-color: #6d6464;


}

.fa-circle-user {
width: 65px;
height: 58px;
margin-right: 10px;
color:#ffffff;
}
li{
font-size: 26px;
width: 280px;
}
.nav-derecho{
display: flex;
flex-direction: row-reverse;
}
hr{
  border: 1px solid #023373;
}

.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;}

    .modal-content {
      padding: 1rem;
    }
  
}

.modal-header .close {
  
    margin-top: -1.5rem;
  
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  
    margin: 0 0.5rem 1rem;
  
}

.signup-section {
  padding: 0.3rem 0rem;
}

.btn {
  background-color: #023373;
  --bs-btn-color: #ffffff;
}
.btn-register {
  background-color: #023373;
  --bs-btn-color: #ffffff;
}

@media (max-width: 600px) {
  header{
    display: flex;
    align-items: flex-end;
  }
  nav{
    margin: 0;
    padding: 0;
  }
  .container-fluid{
    display: flex;
    flex-wrap: nowrap;
  }
  .navbar-brand .logo-img{
    width:160%;
  }

  .btn{
    width: 100%;
  }

  .container .mt-5{
    margin: 0;
    height: 0;
  }
}