<header>
  <nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
  <div class="container-fluid mx-4">
    <a class="navbar-brand" href="#"><img src="/assets/img/logo friendcity.png" class="logo-img" alt="Logo FriendCity"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-derecho" id="navbarsExample05">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=""><i class="fa-solid fa-circle-user"></i> Registrarse</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
</header>
<hr>
