<header>
  <nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
  <div class="container-fluid mx-4">
    <a class="navbar-brand" href="home"><img src="/assets/img/Blue Mount Town Logo Design 1.png" class="logo-img" alt="Logo FriendCity" title="FriendCity"/></a>
    <button type="button" class="btn btn-lg float-right" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Registrarse"><i class="fa-solid fa-circle-user"></i> Registrarse</button>
  </div>
</nav>
</header>
<hr>

<div class="container mt-5">

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>

      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h5>Bienvenido!</h5>
          <br>
          <h4>Registrarse</h4>
        </div>
        <div class="d-flex flex-column">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label>Username</label>
              <input type="text" formControlName="username" class="form-control" />
              <div *ngIf="submitted && f['username'].errors">
                <div class="errorregister" *ngIf="f['username'].errors['required']">Es obligatorio el Username</div>
              </div>
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="name" class="form-control" />
              <div *ngIf="submitted && f['name'].errors">
                <div class="errorregister" *ngIf="f['name'].errors['required']">Es obligatorio introducir tu nombre</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control" />
              <div *ngIf="submitted && f['email'].errors">
                <div class="errorregister" *ngIf="f['email'].errors['required']">Es obligatorio introducir un email</div>
                <div class="errorregister" *ngIf="f['email'].errors['email']">El email debe de ser valido</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" />
              <div *ngIf="submitted && f['password'].errors">
                <div class="errorregister" *ngIf="f['password'].errors['required']">Es obligatorio poner un password</div>
                <div class="errorregister" *ngIf="f['password'].errors['minlength']">El password debe tener al menos 6 caracteres</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" />
              <div *ngIf="submitted && f['confirmPassword'].errors">
                <div class="errorregister" *ngIf="f['confirmPassword'].errors['required']">Es obligatorio el Username</div>
                <div class="errorregister" *ngIf="f['confirmPassword'].errors['mustMatch']">El password no coincide</div>
              </div>
            </div>
            <div class="form-group button-register">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            ¡Registrado con éxito!
          </div>
      
      </div>
        <br>
      </div>
    </div>
    </div>
  </div>
</div>



