<app-header></app-header>
<body>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div id="contact" class="col-xs-6 col-md-4 text-center">
        <h2 class="mt-5 pt-5">Contacto:</h2>
        <h4 class="mt-5 pt-3">
          Email: friendzcity@gmail.com Teléfono: 961852485
        </h4>
        <h3 class="mt-5">Avenida Madrid 6, 9ºDcha. Madrid. 28080.</h3>
      </div>


      <div id="container" class="card mr-5 col-xs-6 col-md-7">
        <div class="card-header">
          <h3 class="mb-0">Contacto</h3>
          <h5 class="mt-4">Mande sus dudas</h5>
        </div>

        <div class="card-body">
          <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            
              
              <div class="row mb-1">
                <div class="col-lg-12">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" name="Fullname" placeholder="Nombre" formControlName="Name" title="Nombre">
                </div>
              </div>
              
              <div class="row mb-1">
                <div class="col-lg-12">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Email" formControlName="Email" title="Email">
                </div>
              </div>
              
              <div class="row mb-1">
                <div class="col-lg-12">
                  <label for="telefono">Teléfono</label>
                  <input class="form-control" id="telefono2" name="Telefono" required="" placeholder="Teléfono" type="text" formControlName="Phone" title="Teléfono"/>
                </div>
              </div>
              
              <div class="row mb-1 text">
                <div class="col-lg-12">
                  <label for="message">Mensaje</label>
                  <textarea class="form-control" formControlName="Message" name="Message" title="Mensaje" placeholder="Mensaje"></textarea>
                </div>
              </div>
              <div class="text-center mt-4">
                <button id="btn" class="btn btn-lg float-right" type="submit">
                  Enviar
                </button>
              </div>
            
          </form>
        </div>
      </div>

    </div>
  </div>
</body>

