<body>
  <div class="container mt-5">
    <div class="row">
      <div id="contact" class="col-xs-6 col-md-4 text-center">
        <h2 class="mt-5 pt-5">Contacto:</h2>
        <h4 class="mt-5 pt-3">
          Email: friendzcity@gmail.com Télefono: 961852485
        </h4>
        <h3 class="mt-5">Avenida Madrid 6, 9ºDcha. Madrid. 28080.</h3>
      </div>

      <!-- form contact -->
      <div id="container" class="card mr-5 col-xs-6 col-md-7">
        <div class="card-header">
          <h3 class="mb-0">Contacto</h3>
          <h5 class="mt-4">Mande sus dudas</h5>
        </div>

        <div class="card-body">
          <form autocomplete="off" class="form" role="form">
            <fieldset>
              <label class="mb-0" for="name2">Nombre</label>
              <div class="row mb-1">
                <div class="col-lg-12">
                  <input
                    class="form-control"
                    id="name2"
                    name="name2"
                    required=""
                    type="text"
                  />
                </div>
              </div>
              <label class="mb-0" for="email2">Email</label>
              <div class="row mb-1">
                <div class="col-lg-12">
                  <input
                    class="form-control"
                    id="email2"
                    name="email2"
                    required=""
                    type="text"
                  />
                </div>
              </div>
              <label class="mb-0" for="telefono2">Telefono</label>
              <div class="row mb-1">
                <div class="col-lg-12">
                  <input
                    class="form-control"
                    id="telefono2"
                    name="telefono2"
                    required=""
                    type="text"
                  />
                </div>
              </div>
              <label class="mb-0" for="message2">Mensaje</label>
              <div class="row mb-1 text">
                <div class="col-lg-12">
                  <textarea
                    class="form-control"
                    id="message2"
                    name="message2"
                    required=""
                    rows="6"
                  ></textarea>
                </div>
              </div>
              <div class="text-center mt-4">
                <button id="btn" class="btn btn-lg float-right" type="submit">
                  Enviar
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <!-- /form contact -->
    </div>
  </div>
</body>
