
<div class="container">
    <div class="my-5 border-0">
        <div class="row tarjeta" *ngFor="let event of events">
            <div class="col-12 col-md-4 contenedor-img">
                    <img src={{event.image}} class="img-fluid imagen-evento" alt="placeholder">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center contenedor-nombre-evento">
                <h4 class="evento-nombre">{{event.name}}</h4>
                <p class="evento-descripcion">{{event.description}}</p>
            </div>
            <div class="col contenedor-botones">
				<div class="col-1"><button class="boton-editar"><i class="fa-solid fa-pen"></i>Editar</button></div>
				<div class="col-1"><button class="boton-eliminar"><i class="fa-solid fa-trash-can"></i>Eliminar</button></div>
				<div class="col-1"><button class="boton-info"><i class="fa-solid fa-circle-info"></i>+ Info</button></div>
                
			</div>
						
        <hr>
        </div>
        
    </div>

	
    <!-- <div class="my-5 border-0">
        <div class="row">
            <div class="col-12 col-md-4">
                    <img src="https://images.theconversation.com/files/334667/original/file-20200513-156633-b1rwdk.jpg?ixlib=rb-1.1.0&rect=9%2C9%2C6221%2C4128&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" class="img-fluid" 										alt="placeholder">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                <h4>Product name</h4>
                
                <p class="short-desc text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut, blanditiis. Amet architecto
                    autem beatae cupiditate dignissimos, distinctio dolor dolorum eius enim facilis illum inventore
                    labore laudantium modi natus necessitatibus odio perferendis placeat quis sit tempora velit
                    vero.
                    <span class="text-muted">[...]</span>
                </p>
            </div>
        </div>
    </div>
	
	<div class="my-5 border-0">
        <div class="row">
            <div class="col-12 col-md-4">
                    <img src="https://images.theconversation.com/files/334667/original/file-20200513-156633-b1rwdk.jpg?ixlib=rb-1.1.0&rect=9%2C9%2C6221%2C4128&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" class="img-fluid" 										alt="placeholder">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                <h4>Product name</h4>
                
                <p class="short-desc text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut, blanditiis. Amet architecto
                    autem beatae cupiditate dignissimos, distinctio dolor dolorum eius enim facilis illum inventore
                    labore laudantium modi natus necessitatibus odio perferendis placeat quis sit tempora velit
                    vero.
                    <span class="text-muted">[...]</span>
                </p>
            </div>
        </div>
    </div> -->
</div>

