*{
    font-family: 'Montserrat', sans-serif;
}

.contenedor-img{

width: 271px;
height: 180px;

}

.imagen-evento{

    width: 100%;
    height: 180px;
    border-radius: 15px;
}

.contenedor-nombre-evento{
    width: 614px;
    height: 180px;
}

.evento-nombre{
text-align: center;
}

.evento-descripcion{
word-wrap: break-word;
}

.boton-editar{
    width: 232px;
    height: 55px;
    border-radius: 15px;
    background-color: #023373;
    color: white;
    font-size: 28px;
    margin: 4px;
    border: none;
}

.boton-eliminar{
    width: 232px;
    height: 55px;
    border-radius: 15px;
    background-color: #023373;
    color: white;
    font-size: 28px;
    margin: 4px;
    border: none;
}

.boton-info{
    width: 232px;
    height: 55px;
    border-radius: 15px;
    background-color: #023373;
    color: white;
    font-size: 28px;
    margin: 4px;
    border: none;
}

