
<div class="container">
    <div class="my-5 border-0">
        <div class="row tarjeta" *ngFor="let event of events">
            <div class="col-12 col-md-4 contenedor-img">
                    <img src={{event.image}} class="img-fluid imagen-evento" alt="placeholder">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center contenedor-nombre-evento">
                <h4 class="evento-nombre">{{event.name}}</h4>
                <p class="evento-descripcion">{{event.description}}</p>
            </div>
            <div class="col contenedor-botones">
				<div class="col-1"><button (click)="updateEvent(event.id)" class="boton-editar"><i class="fa-solid fa-pen"></i>Editar</button></div>
				<div class="col-1"><button (click)="delete(event.id)" class="boton-eliminar"><i class="fa-solid fa-trash-can"></i>Eliminar</button></div>
				<div class="col-1"><button (click)="showOneEvent(event)" class="boton-info"><i class="fa-solid fa-circle-info"></i>+ Info</button></div>
                
			</div>
						
        <hr>
        </div>
        
    </div>
</div>

