#container {
    border-color: rgba(2, 51, 115, 1);
    border-width: 3px;
    margin-bottom: 12rem;
    margin-top: -2rem;
    
}

.card-header {
    background-color: white;
}

#btn {
    background-color: rgba(2, 51, 115, 1);
}

input {
    background-color: rgba(248, 248, 248, 1);
}

p {
    margin-right: 50px;
}

@media (max-width: 428px) {

    p {
        padding: 0;
        width: 90%;
        margin: 5px;
        margin-left: 10px;
    }

    #container {
        margin: 10px;
        
        width: 95%;
    }


}
