<div class="container mt-3">
  <div class="row">
    
      <p class="col-6 mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae
        enim auctor, vestibulum mi a, mattis massa. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia curae; Cras non eros
        ex. Phasellus vitae enim eu est commodo viverra id vel neque. Sed tortor
        diam, finibus id malesuada nec, accumsan sit amet sapien. Mauris augue
        ligula, volutpat nec lorem vitae, pharetra elementum lectus. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae; Donec sed tristique mauris. Vestibulum vitae mi sit amet risus
        fringilla pretium. Pellentesque pellentesque ipsum quis dignissim
        consectetur. Nam viverra dui metus, in scelerisque purus commodo sit
        amet. Nam pretium ornare justo eget vestibulum. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi
        justo neque, efficitur fermentum magna quis, cursus mollis augue. Fusce
        sit amet leo pretium, pellentesque tortor at, varius metus. Nam non
        ornare eros. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Cras iaculis vel risus eu condimentum.
        Integer laoreet, risus at lacinia euismod, eros neque eleifend sem, et
        dignissim velit turpis in magna. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. In egestas ultrices dolor
        nec auctor. In commodo a nulla vitae ultrices. Curabitur quam orci,
        suscipit efficitur nulla vel, molestie tempor lorem. Donec scelerisque,
        nibh id maximus luctus, risus elit consectetur orci, sollicitudin
        rhoncus erat leo vel velit. In porta tempus ligula, non vulputate ipsum
        eleifend in. Cras vitae est commodo, mollis turpis hendrerit, porttitor
        neque.
      </p>
    <div id="container" class="card card-outline-secondary col-xs-6 col-md-5">
      <div class="mb-5 mt-5">
        <h3 class="text-center mb-5">Bienvenido de nuevo!</h3>
        <h5 class="text-center mt-1 fw-bold">Iniciar Sesión</h5>
      </div>

      <div class="card-body pb-5">
        <form autocomplete="off" class="form" role="form">
          <fieldset>
            <label class="mb-1" for="name">Nombre</label>
            <div class="row mb-1">
              <div class="col-lg-12">
                <input
                  class="form-control"
                  id="name"
                  name="name"
                  required=""
                  type="text"
                  placeholder="Introduce tu nombre"
                />
              </div>
            </div>
            <label class="mb-2" for="contraseña">Contraseña</label>
            <div class="row mb-1">
              <div class="col-lg-12">
                <input
                  class="form-control"
                  id="contraseña"
                  name="contraseña"
                  required=""
                  type="text"
                  placeholder="Introduce tu Contraseña"
                />
              </div>
            </div>
            <div class="text-center mt-5">
              <button
                id="btn"
                class="btn btn-dark btn-lg float-right"
                type="submit"
              >
                Iniciar Sesión
              </button>
            </div>
            <div class="col text-center mt-5 mb-5">
              <!-- Simple link -->
              <a class="" href="#!">Recuperar Contraseña</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
