<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center title-team">Sobre Equipo</h1>
        <p class="parrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae enim auctor, vestibulum mi a, mattis massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras non eros ex. Phasellus vitae enim eu est commodo viverra id vel neque. Sed tortor diam, finibus id malesuada nec, accumsan sit amet sapien. Mauris augue ligula, volutpat nec lorem vitae, pharetra elementum lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed tristique mauris. Vestibulum vitae mi sit amet risus fringilla pretium. Pellentesque pellentesque ipsum quis dignissim consectetur. Nam viverra dui metus, in scelerisque purus commodo sit amet. Nam pretium ornare justo eget vestibulum.
        </p>
        <p class="parrafo">
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi justo neque, efficitur fermentum magna quis, cursus mollis augue. Fusce sit amet leo pretium, pellentesque tortor at, varius metus. Nam non ornare eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras iaculis vel risus eu condimentum. Integer laoreet, risus at lacinia euismod, eros neque eleifend sem, et dignissim velit turpis in magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In egestas ultrices dolor nec auctor. In commodo a nulla vitae ultrices. Curabitur quam orci, suscipit efficitur nulla vel, molestie tempor lorem. Donec scelerisque, nibh id maximus luctus, risus elit consectetur orci, sollicitudin rhoncus erat leo vel velit. In porta tempus ligula, non vulputate ipsum eleifend in. Cras vitae est c
        </p>
      </div>
      <div class="col col-equipo">
        <div class="row row-cols-2">
            <!-- Jesus -->
            <div class="col col-person">
                <img src="./assets/img/Jesus.jpeg" class="caja-imag" alt="Jesus Otero"/>
                <p><a href="https://github.com/jesusod">Jesus</a></p>
            </div>
            <!--Anita-->
            <div class="col col-person">
                <img src="./assets/img/Anita.jpeg" class="caja-imag" alt="Anita Andameri"/>
                <p><a href="https://github.com/Anitameri">Anita</a></p>
            </div>
            <!--Miguel-->
            <div class="col col-person">
                <img src="./assets/img/Miguel.jpg" class="caja-imag" alt="Miguel Angel Iñiguez"/>
                <p><a href="https://github.com/PMuin">Miguel</a></p>
            </div>
            <!--Bea-->
            <div class="col col-person">
                <img src="./assets/img/Bea.jpeg" class="caja-imag" alt="Bea Robledillo"/>
                <p><a href="https://github.com/BeitxuelaWEB">Bea</a></p>
            </div>
            <!--Carlos-->
            <div class="col col-person">
                <img src="./assets/img/Carlitos.jpeg" class="caja-imag" alt="Carlos Laurie"/>
                <p><a href="https://github.com/CarlitosHunter">Carlitos</a></p>
            </div>
            <!--Pablo-->
            <div class="col col-person">
                <img src="./assets/img/Pablo.jpg" class="caja-imag" alt="Pablo Ruiz"/>
                <p><a href="https://github.com/pruizcas">Pablo</a></p>
            </div>
          </div>
        
      </div>
    </div>