<div class="container cuerpo">
  <div class="row">
    <div class="col">
      <h1 class="text-center title-team">Sobre Equipo</h1>
      <p class="parrafo">
        Somos un grupo de amigos y coders entusiastas. Nos gusta quedar entre nosotros y no perdemos oportunidad de
        planear quedadas y fiestas. Sin embargo, en muchas ocasiones hemos tenido problemas en ponernos de acuerdo en
        fechas, sitios o que debía llevar cada uno.<br>
        Un día, nos preguntamos como podriamos organizarnos mejor. De ahí nació la idea de FriendCity, una app que
        permite planear reuniones entre amigos. A partir de tus contactos más cercanos ya puedes: invitar a tus amigos,
        encontrar y fijar direcciones donde quedar, decidir quien va a llevar los artículos.
      </p>
      <p class="parrafo">
        El grupo de desarrolladores que ha diseñado esta aplicación son los siguientes: Ana Maria Adalid (la Scrum
        Master), Miguel Angel Iñiguez, Carlos Laurie, Jesus Otero (el Product Owner), Beatriz Robledillo y Pablo Ruiz.
        Sí quieres conocer un poco más de nosotros y nuestros proyectos haz click en nuestros avatares.
      </p>
    </div>
    <div class="col col-equipo">
      <div class="row row-cols-2">
        <!-- Jesus -->
        <div class="col col-person">
          <a href="https://github.com/jesusod" target="_blank" title="GitHub de Jesús">
            <img src="./assets/img/Jesus.jpeg" class="caja-imag" alt="Jesus Otero" />
            <p>Jesús</p>
          </a>
        </div>
        <!--Anita-->
        <div class="col col-person">
          <a href="https://github.com/Anitameri" target="_blank" title="GitHub de Anita">
            <img src="./assets/img/Anita.jpeg" class="caja-imag" alt="Anita Andameri" />
            <p>Anita</p>
          </a>
        </div>
        <!--Miguel-->
        <div class="col col-person">
          <a href="https://github.com/maip202" target="_blank" title="GitHub de Miguel">
            <img src="./assets/img/Miguel.jpg" class="caja-imag" alt="Miguel Angel Iñiguez" />
            <p>Miguel</p>
          </a>
        </div>
        <!--Bea-->
        <div class="col col-person">
          <a href="https://github.com/BeitxuelaWEB" target="_blank" title="GitHub de Bea">
            <img src="./assets/img/Bea.jpeg" class="caja-imag" alt="Bea Robledillo"
              href="https://github.com/BeitxuelaWEB" />
            <p>Bea</p>
          </a>
        </div>
        <!--Carlos-->
        <div class="col col-person">
          <a href="https://github.com/CarlitosHunter" target="_blank" title="GitHub de Carlitos">
            <img src="./assets/img/Carlitos.jpeg" class="caja-imag" alt="Carlos Laurie"
              href="https://github.com/CarlitosHunter" title="GitHub de Carlitos" />
            <p>Carlitos</p>
          </a>
        </div>
        <!--Pablo-->
        <div class="col col-person">
          <a href="https://github.com/pruizcas" target="_blank" title="GitHub de Pablo">
            <img src="./assets/img/Pablo.jpg" class="caja-imag" alt="Pablo Ruiz" href="https://github.com/pruizcas"
              target="_blank" title="GitHub de Pablo" />
            <p>Pablo</p>
          </a>
        </div>
      </div>

    </div>
  </div>
