agm-map{
  width: 250px;
  height: 250px;
}

#boton {
  background-color: #023373;
  color: white;
}

html {
  font-size: 1.2re;
}

.main__form{
  width: 1146px;
  height: 654px;
  margin-top: 3%;
}
.col-md-6{
  width: 47%;
}
#name{
  width: 500px;
  height: 50px;
}
#location{
  width: 500px;
  height: 50px;
}
#event_date{
  width: 500px;
  height: 50px;
  color: #023373;
}
#budget{
  width: 500px;
  height: 50px;
}
#image{
  width: 500px;
  height: 50px;
}
#hour{
  width: 500px;
  height: 50px;
}
#description{
  width: 500px;
  height: 150px;
}
#friends{
  width: 500px;
  height: 150px;
}



.main__form .form-group {
  position: relative;
  margin-bottom: 3rem;
}

.main__form .form-group label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #023373;
  margin-top: -6%;
  padding: 0 2.5rem;
  position: absolute;
}

.main__form .form-group input,
.main__form .form-group textarea {
  font-size: 1.2rem;
  border-color: #DADADA;
  border: 3px solid #D9D9D9;
  border-radius: 15px;
  padding: 0 2.5rem;
  position: relative;
  z-index: 1;
  background: transparent;
}

.main__form .form-group input:focus::-webkit-input-placeholder,
.main__form .form-group textarea:focus::-webkit-input-placeholder {
  color: #999;
}

.main__form .form-group input:focus:-ms-input-placeholder,
.main__form .form-group textarea:focus:-ms-input-placeholder {
  color: #999;
}

.main__form .form-group input:focus::-ms-input-placeholder,
.main__form .form-group textarea:focus::-ms-input-placeholder {
  color: #999;
}

.main__form .form-group input:focus::placeholder,
.main__form .form-group textarea:focus::placeholder {
  color: #999;
}

.main__form .form-group input::-webkit-input-placeholder,
.main__form .form-group textarea::-webkit-input-placeholder {
  color: transparent;
}

.main__form .form-group input:-ms-input-placeholder,
.main__form .form-group textarea:-ms-input-placeholder {
  color: transparent;
}

.main__form .form-group input::-ms-input-placeholder,
.main__form .form-group textarea::-ms-input-placeholder {
  color: transparent;
}

.main__form .form-group input::placeholder,
.main__form .form-group textarea::placeholder {
  color: transparent;
}

.main__form .form-group input {
  height: 6rem;
}

.main__form .form-group.form-message label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #023373;
  line-height: 24px;
  padding: 0 2.5rem;
  position: absolute;
}

.main__form .form-group.form-message textarea {
  padding: 2.5rem;
}

.main__form .form-group.form-message textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main__form .form-group.form-message textarea:focus::-webkit-input-placeholder {
  color: #999;
}

.main__form .form-group.form-message textarea:focus:-ms-input-placeholder {
  color: #999;
}

.main__form .form-group.form-message textarea:focus::-ms-input-placeholder {
  color: #999;
}

.main__form .form-group.form-message textarea:focus::placeholder {
  color: #999;
}

.main__form label.btn-attached {
  background: #023373;
  padding: 11px 42px;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.main__form label.btn-attached:hover {
  cursor: pointer;
  
}

.main__form .form-groups.form-check {
  margin: 1.5rem 0;
}

.main__form .form-groups.form-check input {
  position: relative;
}

.main__form .form-groups.form-check label {
  font-size: 1.4rem;
  color: #718399;
}

.main__form button.btn.btn-get {
  position: relative;
  top: 0px;
  margin: 0 0 -80px;
  font-size:20px;
}


.project__form {
  font-size: 1.2rem;
}

.project__form h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.1rem;
  color: #272727;
  line-height: 8.8rem;
  color: #023373;
}

.project__form::before {
  display: none;
}

.ready__started-box {
  background: rgb(255, 255, 255);
  padding: 2rem;
  border: solid #023373;
  border-radius: 15px;
  width: 71rem;
  height: 48rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

section.ready__started.project__form {
  margin-bottom: 0;
}

section.ready__started.project__form .ready__started-box {
  position: relative;
  -webkit-box-shadow: 0 3px 3.2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 3.2rem rgba(0, 0, 0, 0.08);
}
.alert{
--bs-alert-padding-y: 0rem;  
}



@media (max-width: 600px) {
  .row{
    width: 222%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }
  #name{
    width: 100%;
    height: 43px;
  }
  #location{
    width: 100%;
    height: 43px;
  }
  #event_date{
    width: 100%;
    height: 43px;
    color: #023373;
  }
  #budget{
    width: 100%;
    height: 43px;
  }
  #image{
    width: 100%;
    height: 43px;
  }
  #hour{
    width: 100%;
    height: 43px;
  }
  #description{
    width: 100%;
    height: 150px;
  }
  #friends{
    width: 100%;
    height: 150px;
  }
  .ready__started-box {
    background: rgb(255, 255, 255);
    padding:10% 3%;
    margin-top: -2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 3rem;
    border: solid #023373;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }

  .project__form h3 {
    font-size: 2rem;
    color: #023373;
  }
  .main__form{
    width: 100%;
    height: 100%;
  }
  .main__form .form-group label {
    margin-top: -10%;
  }

}